<div [@fadeInUp] class="container-fluid">
    <h3>
        <i class="fa fa-money"></i> Generación de Referencia de Pago
    </h3>

    <div class="row centrarModal" *ngIf="showForm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="referenciaForm">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="encabezado">
                                        DATOS DEL CONDUCTOR
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="Nombre(s)"
                                        (input)="actualizarNombreLegal($event, 'nombre')">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="Apellido Paterno"
                                        (input)="actualizarNombreLegal($event, 'apellidoPaterno')">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="Apellido Materno"
                                        (input)="actualizarNombreLegal($event, 'apellidoMaterno')">
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-6">
                                    <input type="text" formControlName="vRfc" class="form-control"
                                        placeholder="RFC del conductor" (input)="actualizarRFCs($event)" maxlength="13">
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <input type="text" formControlName="vCurp" class="form-control"
                                        placeholder="CURP del conductor" (input)="actualizarCURPs()" maxlength="18">
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <span class="encabezado">
                                        DOMICILIO DEL CONDUCTOR
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-3">
                                    <input type="text" class="form-control" placeholder="Calle"
                                        (input)="actualizarDomicilio($event, 'calle')">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" class="form-control" placeholder="# Exterior"
                                        (input)="actualizarDomicilio($event, 'exterior')">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" class="form-control" placeholder="# Interior"
                                        (input)="actualizarDomicilio($event, 'interior')">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" class="form-control" placeholder="Colonia"
                                        (input)="actualizarDomicilio($event, 'colonia')">
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="CP"
                                        (input)="actualizarDomicilio($event, 'cp')" maxlength="5">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="Municipio"
                                        (input)="actualizarDomicilio($event, 'municipio')">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" class="form-control" placeholder="Entidad Federativa"
                                        (input)="actualizarDomicilio($event, 'entidad')">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <span class="encabezado">
                                        DATOS DE LA LICENCIA DEL CONDUCTOR
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Tipo de licencia de conducir</label>
                                        <select disabled class="form-control" id="tipoLicencia">
                                            <option value="">Selecciona una opción</option>
                                            <option value="120">Chofer particular</option>
                                            <option value="121">Automovilista</option>
                                            <option value="122">Motociclista</option>
                                            <option value="123">Aprendiz</option>
                                            <option value="124">Operador de transporte público</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 250px;">No° de licencia de conducir</label>
                                        <input disabled type="text" class="form-control" placeholder="Ej. 234865121">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Vigencia de la licencia de
                                            conducir</label>
                                        <input disabled type="date" class="form-control" placeholder="Ej. 11/01/2025">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <span class="encabezado">
                                        DATOS DE LA MULTA
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 250px;">Categoría de la multa</label>
                                        <select class="form-control" (change)="filtrarMultas($event)">
                                            <option value="">Selecciona una opción</option>
                                            <option value="Placas">Placas</option>
                                            <option value="Calcomanías">Calcomanías</option>
                                            <option value="Luces">Luces</option>
                                            <option value="Carece de dispositivos">Carece de dispositivos</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 250px;">Multa específica</label>
                                        <select class="form-control" [disabled]="multasFiltradas.length === 0"
                                            (change)="asignarDescripcionMulta($event)">
                                            <option value="">Selecciona una opción</option>
                                            <option *ngFor="let multa of multasFiltradas" [value]="multa.descripcion">
                                                {{ multa.codigo }} - {{ multa.descripcion }} ({{ multa.articulo }})
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 250px;">Monto de la multa:</label>
                                        <input type="text" readonly formControlName="vImporteCobrado" class="form-control"
                                            placeholder="Monto de la multa" (input)="actualizarImportes()">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 400px;">Clasificación en finanzas</label>
                                        <input disabled type="text" class="form-control" placeholder="Otros">
                                        <input disabled type="text" style="margin-left: 15px;" class="form-control"
                                            placeholder="ID conforme finanzas">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 210px;">Descripción breve de la multa</label>
                                        <input disabled type="text" style="width: 30%;" class="form-control"
                                            placeholder="Ej. Manejar en sentido contrario">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <span class="encabezado">
                                        DATOS DEL VEHÍCULO
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-3">
                                    <input type="text" formControlName="vMatricula" class="form-control"
                                        placeholder="Placa del vehículo">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" disabled class="form-control" placeholder="Marca del vehículo">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" disabled class="form-control" placeholder="Modelo del vehículo">
                                </div>
                                <div class="mb-3 col-lg-3">
                                    <input type="text" disabled class="form-control" placeholder="Año del vehículo">
                                </div>
                            </div>
                            <div class="row mt-0">
                                <div class="mb-3 col-lg-4">
                                    <input type="text" disabled class="form-control"
                                        placeholder="Folio de la tarjeta de circulación">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" disabled class="form-control"
                                        placeholder="Vigencía de la tarjeta de circulación">
                                </div>
                                <div class="mb-3 col-lg-4">
                                    <input type="text" disabled class="form-control"
                                        placeholder="Propietario de vehículo">
                                </div>
                            </div>
                        </div>


                        <div class="mt-4 d-flex gap-2">
                            <button type="submit" class="btn btn-success" (click)="verDatos()" id="greenAlta">
                                <span class="loader" *ngIf="loading"></span>&nbsp;
                                <i class="fa fa-check" *ngIf="!loading"></i>&nbsp;<span>{{submitButton}}</span>
                            </button>

                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-times"></i> Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 centrarModal" [@fadeInUp] *ngIf="showAlertSuccess">
        <div class="col-lg-6">
            <div class="card-body">
                <div class="alert-success-payment">
                    <div class="check-icon">
                        <i class="fa fa-check"></i>
                    </div>
                    <h4 class="alert-title">¡Operación Exitosa!</h4>

                    <div class="extra-info">
                        <div><strong>Estatus de la operación:</strong> <span>{{ estatusService  }}</span> </div>
                        <div><strong>Referencia generada:</strong> <span>{{ referenciaService  }}</span></div>
                        <div><strong>Fecha de vencimiento:</strong> <span>{{ fechaVencService  }}</span> </div>
                        <div><strong>Folio de registro de la multa:</strong> <span>{{ foliosService  }}</span> </div>
                    </div>
                    <button class="btn-continue" (click)="mostrarForm()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>