<div [@fadeInUp] class="container-fluid">
    <h3>
        <i class="fa fa-fa-file-invoice"></i> Generación Boleta de Multa.
    </h3>

    <div class="row centrarModal">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Folio de la multa:</label>
                                        <input type="text" maxlength="20" formControlName="numeroLicencia" class="form-control"
                                            placeholder="Ej. 13670667224224174851">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mt-4 d-flex gap-2">
                            <button type="submit" class="btn btn-success" id="greenAlta">
                                <i class="fa fa-check"></i> <span> Enviar Datos</span>
                            </button>

                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-times"></i> Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>