<div [@fadeInUp] class="container-fluid">
    <h3>
        <i class="fa fa-info-circle"></i> Consulta Estatus de Pago
    </h3>

    <div class="row centrarModal" *ngIf="showForm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="estatusForm">
                        <div>
                            <div class="row mt-2">
                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Referencia de pago:</label>
                                        <input type="text" maxlength="7" formControlName="folio" class="form-control" 
                                        placeholder="Ej. 2391721" (keypress)="permitirSoloNumeros($event)">
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Identificador de la
                                            obligación:</label>
                                        <input type="text" maxlength="2" formControlName="obligacion" class="form-control"
                                            placeholder="Ej. 13" (keypress)="permitirSoloNumeros($event)">
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">CURP del conductor:</label>
                                        <input type="text" formControlName="curp" class="form-control"
                                            placeholder="Ej. GOCJ561231HDFRRN09" maxlength="18" (input)="sanitizeInputCurp($event)">
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">RFC del conductor:</label>
                                        <input type="text" formControlName="rfc" class="form-control"
                                            placeholder="Ej. GOCJ561231XXX" (input)="sanitizeInput($event)"
                                            maxlength="13">
                                    </div>
                                </div>

                                <div class="mb-3 col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <label class="mb-0" style="width: 270px;">Fecha de vencimiento de pago:</label>
                                        <input type="date" formControlName="fechaPago" class="form-control"
                                            placeholder="Ej. 02/08/2028">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 d-flex gap-2">
                            <button type="submit" class="btn btn-success" (click)="obtenerEstatus()" id="greenAlta">
                                <span class="loader" *ngIf="loading"></span>&nbsp;
                                <i class="fa fa-check" *ngIf="!loading"></i>&nbsp;<span>{{submitButton}}</span>
                            </button>

                            <button type="button" class="btn btn-danger" (click)="mostrarForm()">
                                <i class="fa fa-times"></i>&nbsp;Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 centrarModal" [@fadeInUp] *ngIf="showAlertSuccess">
        <div class="col-lg-6">
            <div class="card-body">
                <div class="alert-success-payment">
                    <div class="check-icon">
                        <i class="fa fa-check"></i>
                    </div>
                    <h4 class="alert-title">¡Consulta Exitosa!</h4>
                    <div class="extra-info">
                        <div>
                            <strong>Referencia de pago:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ folioRespuesta }}</span>
                        </div>
                        <div>
                            <strong>Estatus:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ estatusRespuesta }}</span>
                        </div>
                        <div>
                            <strong>Importe pagado:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ estatusOperacion || '$ 1,131.40' }}</span>
                        </div>
                        <div>
                            <strong>Fecha de vencimiento:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ fechaVencimientoRespuesta }}</span>
                        </div>
                        <div>
                            <strong>Fecha de pago:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ fechaRespuesta || '2025-07-15' }}</span>
                        </div>
                        <div>
                            <strong>RFC del conductor:</strong>
                            <span [ngStyle]="{
                            'background-color': estadoNoPagado ? '#ffebee' : '#e0f2f1',
                            'color': estadoNoPagado ? '#c62828' : '#00796b'
                          }">{{ rfcRespuesta }}</span>
                        </div>
                    </div>

                    <button class="btn-continue" (click)="mostrarForm()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>