.side-nav-link-ref{
    margin-left: -15px;
    cursor: pointer;
  }
  
  a{
    color: white;
  }
  
  span{
    font-size: 13px;
    color: white;
  }
  
  .bx{
    color: white;
  }
  
  li{
    color: white;
  }
  
  
  .side-nav-link-ref.active-link {
    background-color: #64001e; 
    color: #ffffff !important; 
    font-weight: bold; 
    border-radius: 5px; 
  }

  .side-nav-link-ref:hover{
    background-color: #64001e;
    color: #ffffff !important; 
  }
  
  
  .side-nav-link-ref.active-link i {
    color: #ffffff !important; 
  }
  
  
  
  .is-parent.active-parent {
    background-color: #64001e; 
    color: #ffffff !important;
  }
  