th{
    background-color: #54565a;
    color: white;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 450;
    color: #ffffff;
    background-color: #b4a178;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    animation: glow 3s infinite;
  }
  
  @keyframes glow {
    0% { background-color: #b4a178; }
    50% { background-color: #b4a178; }
    100% { background-color: #b4a178; }
  }
  
  .total-registros-label {
    font-size: 16px; 
    font-weight: bold; 
    color: #f7fb06; 
    padding: 8px 15px; 
    border-radius: 5px; 
    background-color: #515237; 
    display: inline-block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .data {
    min-width: 1000px;
  }
  
  
  // ::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td {
  //   border-bottom: 1px solid #ddd;
  //   background: #64001e;
  //   color: white;
  // }